
@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title</h2>
<div >
    <button class="btn btn-success" name="getdata" onclick="javascript: getData()">取得 Json Test 資料</button>
    <table class="table" id="result">
        <tr>
            <th></th>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>Activity</th>
            <th>Stock</th>
            <th></th>
        </tr>
    </table>
</div>

<script>
    function getData() {
        $.getJSON('/AR/JsonTest', '', function (data) {
            if (data) {
                var html = "";
                for (var i in data) {
                    html += "<tr>";
                    for (var j in data[i]) {
                        html += "<td>" + data[i][j] + "</td>";
                    }
                    html += "</tr>";
                }
                
                $('#result').append(html);
            }
        });
    }

</script>