
@{
    ViewBag.Title = "Index";
}
<h2>@ViewBag.Title</h2>
<div ng-app ng-controller="MainCtrl">
    <button class="btn btn-success" name="getdata" onclick="javascript: getData()">取得 Json Test 資料</button>
    <table class="table">
        <tr>
            <th>ProductId</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Activity</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<script>
    function getData() {
        $.getJSON('/AR/JsonTest', '', function (data) {
            if (data) {
                var html = "";
                html += "<table class='table'>";
                html += "<tr>";
                for (var j in data[0]) {
                    html += "<th>" + j + "</th>";
                }
                html += "</tr>";
                for (var i in data) {
                    html += "<tr>";
                    for (var j in data[i]) {
                        html += "<td>" + data[i][j] + "</td>";
                    }
                    html += "</tr>";
                }
                html += "</table>";
                $('#result').append(html);
            }
        });
    }

</script>